@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .fade-in-from-bottom {
    opacity: 0;
    transform: translateY(2vh);
    visibility: hidden;
    transition: opacity 1s ease-out, transform 3s ease-out;
    will-change: opacity, visibility;
  }

  .fade-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out;
    will-change: opacity, visibility;
  }

  .fade-in-from-top {
    opacity: 0;
    transform: translateY(-2vh);
    visibility: hidden;
    transition: opacity 1s ease-out, transform 3s ease-out;
    will-change: opacity, visibility;
  }
  
  .fade-in-from-top.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .fade-in.is-visible {
    opacity: 1;
    visibility: visible;
  }

  .fade-in-from-bottom.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .modal {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, visibility 0.5s;
  }
  
  .modal.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .fade-in-simple {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }

@keyframes fadeIn {
  0% { opacity: 0; y:100px }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
 
.fade-in-up-simple {
  animation: fadeInUp 2s ease-in-out;
  -webkit-animation: fadeInUp 2s;
  -moz-animation: fadeInUp 2s;
  -o-animation: fadeInUp 2s;
  -ms-animation: fadeInUp 2s;
}

@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(10px) }
  100% { opacity: 1; transform: translateY(0) }
}

@-moz-keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(10px) }
  100% { opacity: 1; transform: translateY(0) }
}

@-webkit-keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(10px) }
  100% { opacity: 1; y: '0px' }
}

@-o-keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(10px) }
  100% { opacity: 1; transform: translateY(0) }
}

@-ms-keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(10px) }
  100% { opacity: 1; transform: translateY(0) }
}

.fade-out-up-simple {
  animation: fadeOutUp .5s ease-in-out;
}

@keyframes fadeOutUp {
  0% { opacity: 1; transform: translateY(0px); }
  100% { opacity: 0; transform: translateY(10px); }
}

@keyframes zoomIn {
  0% { opacity: 0; transform: scale(.99) }
  100% { opacity: 1; transform: scale(1) }
}

@-webkit-keyframes zoomIn {
  0% { opacity: 0; transform: scale(.99) }
  100% { opacity: 1; transform: scale(1) }
}

@-o-keyframes zoomIn {
  0% { opacity: 0; transform: scale(.99) }
  100% { opacity: 1; transform: scale(1) }
}

@-ms-keyframes zoomIn {
  0% { opacity: 0; transform: scale(.99) }
  100% { opacity: 1; transform: scale(1) }
}

.zoom-in-simple {
  animation: zoomIn 1s ease-in-out;
  -webkit-animation: zoomIn 1s;
  -moz-animation: zoomIn 1s;
  -o-animation: zoomIn 1s;
  -ms-animation: zoomIn 1s;
}

@keyframes zoomOut {
  0% { opacity: 1; transform: scale(1) }
  100% { opacity: 0; transform: scale(.9) }
}

@-webkit-keyframes zoomOut {
  0% { opacity: 1; transform: scale(1) }
  100% { opacity: 0; transform: scale(.9) }
}

@-o-keyframes zoomOut {
  0% { opacity: 1; transform: scale(1) }
  100% { opacity: 0; transform: scale(.9) }
}

@-ms-keyframes zoomOut {
  0% { opacity: 1; transform: scale(1) }
  100% { opacity: 0; transform: scale(.9) }
}

.zoom-out-simple {
  animation: zoomOut .5s;
  -webkit-animation: zoomOut .5s;
  -moz-animation: zoomOut .5s;
  -o-animation: zoomOut .5s;
  -ms-animation: zoomOut .5s;
}
.fade-in-right-simple {
  animation: fadeInRight 3s ease-in;
  -webkit-animation: fadeInRight 3s;
  -moz-animation: fadeInRight 3s;
  -o-animation: fadeInRight 3s;
  -ms-animation: fadeInRight 3s;
}

@keyframes fadeInRight {
  0% { opacity: 0; transform: translateX(10px) }
  100% { opacity: 1; transform: translateX(0) }
}

@-moz-keyframes fadeInRight {
  0% { opacity: 0; transform: translateX(10px) }
  100% { opacity: 1; transform: translateX(0) }
}

@-webkit-keyframes fadeInRight {
  0% { opacity: 0; transform: translateX(10px) }
  100% { opacity: 1; y: '0px' }
}

@-o-keyframes fadeInRight {
  0% { opacity: 0; transform: translateX(10px) }
  100% { opacity: 1; transform: translateX(0) }
}

@-ms-keyframes fadeInRight {
  0% { opacity: 0; transform: translateX(10px) }
  100% { opacity: 1; transform: translateX(0) }
}
 
.animDelay {
  transition-delay: .3s;
}